body{
    font-family: 'Roboto', sans-serif;
    }
    

/*CARDS*/
.Cards{
width: 800px;
height: 320px;
margin: 10px 10px 50px;
display: flex;
align-items: center;
background-color: #383838;
border-radius: 25px;
color: white;
padding: 40px;
}

.TextCard{
padding: 100px;
font-size: x-large;

}

