body {
    font-family: 'Roboto', sans-serif;
    background-color: #97CE4C;
    padding: 1rem;
    color: #272727;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header img {
    height: 200px;
}

.subtitle{
    color:  white;
    background-color: #383838;
    border-radius: 15px;
    text-align: center;
    padding: 1rem;
}

.section{
    display: flex;
    flex-direction: row;
}

.section img{
    height: 400px;
    border-radius: 20px;
    border: 8px solid #383838;
}


.section p{
    padding: 0 1rem;
    font-size:x-large;
}

.section-reverse{
    flex-direction: row-reverse;
}
/*CARDS*/

.section-buscador{
    padding: 1rem 0;
    background-color:#c4ff72;
    margin: 2rem 0;
}

.section-buscador h2{
    padding-left: 2rem;
}

.buscador{
    margin-left: 5.5rem;
    width: 280px;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    background-color: #97CE4C;
    border: solid 6px #383838;
}




.Cards {
    width: 400px;
    height: 200px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    background-color: #383838;
    border-radius: 25px;
    color: white;
    padding: 10px;
}

.Cards img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.TextCard {
    padding-left: 20px;

}

.TextCard p{
    font-size:medium;
    margin: 0;
    text-align:start ;
}

.container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    text-align: center;
}